workflow-recD7KHf9NZKGyE9k.json
{"name":"[n8n] Bulk Automated Google Drive Files Sharing and Direct Download Link Generation","nodes":[{"parameters":{"authentication":"oAuth2","operation":"list","useQueryString":true,"queryString":"='{{ $json[\"Folder ID\"] }}' in parents","limit":1000,"options":{"spaces":["*"],"corpora":"allDrives"}},"name":"Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":1,"position":[1280,1100]},{"parameters":{"batchSize":50,"options":{}},"name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1480,1160]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1720,1020]},{"parameters":{"fields":{"values":[{"name":"Folder ID","stringValue":"Drive id"}]},"options":{}},"name":"Set Folder ID","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[1120,1100],"notesInFlow":true,"notes":"Enter desired Folder"},{"parameters":{},"name":"Manual Execute Workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[940,1100],"notesInFlow":true,"notes":"Optional"},{"parameters":{"jsCode":"// This function will create an array of file links from the given Google Drive folder\nreturn items.map(file => {\n  return { json: { 'link': `https://drive.google.com/u/3/uc?id=${file.json.id}&export=download&confirm=t&authuser=0`, 'name': file.json.name } };\n});"},"name":"Generate Download Links","type":"n8n-nodes-base.code","typeVersion":2,"position":[1480,980]},{"parameters":{"authentication":"oAuth2","operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{"supportsAllDrives":true}},"name":"Change Status","type":"n8n-nodes-base.googleDrive","typeVersion":1,"position":[1660,1180],"notesInFlow":true,"notes":"Make Files Public to anyone with a link"},{"parameters":{},"name":"Replace Me","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1920,1020]},{"parameters":{"content":"## Example Output:\n```JSON\n{\n\"link\": \"https://drive.google.com/u/3/uc?id=1hojqPfXchNTY8YRTNkxSo-8txK9re-V4&export=download&confirm=t&authuser=0\",\n\"name\": \"firefox_rNjA0ybKu7.png\",\n\"kind\": \"drive#permission\",\n\"id\": \"anyoneWithLink\",\n\"type\": \"anyone\",\n\"role\": \"reader\",\n\"allowFileDiscovery\": false\n}\n```\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n### You can store the output data with any data store node you want\n### for example save them into Excel Sheet or Airtable etc...","height":545.6382804772701,"width":1235.0111197082438},"name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[880,820]}],"connections":{"Google Drive":{"main":[[{"node":"Generate Download Links","type":"main","index":0},{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Merge","type":"main","index":1}],[{"node":"Change Status","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Set Folder ID":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Manual Execute Workflow":{"main":[[{"node":"Set Folder ID","type":"main","index":0}]]},"Generate Download Links":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Change Status":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"active":"false","settings":{"executionOrder":"v1","timezone":"Europe/Berlin","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","executionTimeout":600,"errorWorkflow":""},"staticData":"","pinData":{},"meta":{"templateCredsSetupCompleted":false},"tags":[{"createdAt":"2024-04-09T15:23:06.917Z","updatedAt":"2024-04-09T15:23:06.918Z","id":"R29vZ2xlRHJpdmU","name":"GoogleDrive"},{"createdAt":"2024-04-09T15:23:06.918Z","updatedAt":"2024-04-09T15:23:06.918Z","id":"R29vZ2xlRHJpdmVPQXV0aDJBcGk","name":"GoogleDriveOAuth2Api"},{"createdAt":"2024-04-09T15:23:06.918Z","updatedAt":"2024-04-09T15:23:06.918Z","id":"U3BsaXRJbkJhdGNoZXM","name":"SplitInBatches"},{"createdAt":"2024-04-09T15:23:06.918Z","updatedAt":"2024-04-09T15:23:06.918Z","id":"TWFudWFsVHJpZ2dlcg","name":"ManualTrigger"},{"createdAt":"2024-04-09T15:23:06.918Z","updatedAt":"2024-04-09T15:23:06.918Z","id":"Q29kZQ","name":"Code"},{"createdAt":"2024-04-09T15:23:06.918Z","updatedAt":"2024-04-09T15:23:06.918Z","id":"Tm9PcA","name":"NoOp"},{"createdAt":"2024-04-09T15:23:06.918Z","updatedAt":"2024-04-09T15:23:06.918Z","id":"dGVtcGxhdGVz","name":"templates"}]}